@use '@angular/material' as mat;

@include mat.core();

$boxtronome-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$orange-palette,
  ),
));

html {
  @include mat.all-component-themes($boxtronome-theme);
}

*, *::before, *::after { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #FAFAFA;
}
